@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.logo img {
	width: 55%;
	height: auto;
}
.header {
	margin-top: 0;
}

.navbar {
	display: flex;
	align-items: left;
	padding: 20px;
	top: 0;
	width: 100%;
	margin: 0 auto;
}

nav {
	flex: 1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style-type: none;
	font-size: larger;
	padding: 10px 0;
	font-weight: 550;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #555555;
}
a:hover {
	color: #000000;
	text-underline-position: below;
}

/*h1, h2, h3, h4, h5 {
    color: #fff;
}*/

p {
	color: #555555;
}

.header__container {
	width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.footer__container {
	width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.footer {
	height: auto;
	width: 100%;
	position: relative;
	left: 0px;
	right: 0px;
	text-align: left;
	background-color: white;
}
.foo-row {
	display: flex;
	align-items: center;
	position: relative;
	top: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}

.foo-row h3 {
	color: rgb(240, 0, 0);
	padding-bottom: 4%;
}

.foo-row .heading_text {
	font-size: 20px;
	font-weight: 500;
	color: #ff0000;
}
/*.foo-col-1 */
#pic {
	height: auto;
	width: 23%;
	border-radius: 10px;
}
.foo-col-1 p {
	font-weight: 500;
	color: black;
}
.foo-col-1 img {
	height: auto;
	width: 70%;
	/*padding-bottom: 15%;*/
	margin-left: 5%;
}
.foo-col-3 {
	padding-bottom: 25px;
}
.foo-col-4 {
	padding-bottom: 30px;
}
.foo-row-cr {
	display: flex;
	align-items: center;
	position: relative;
	top: 32px;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.foo-row-cr h3 {
	color: rgb(240, 0, 0);
	padding-bottom: 4%;
}

.foo-row-cr .heading_text {
	font-size: 20px;
	font-weight: 500;
	color: #ff0000;
}
.foo-row-cr p {
	color: black;
	font-weight: 900px;
}

/*main css*/

.contact {
	position: relative;
	/* min-height: 100vh; */
	padding: 10px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgb(252, 252, 253);
	background-size: cover;
}
.contact .content {
	max-width: 800px;
	text-align: center;
}
.contact .content h2 {
	font-weight: 700;
	color: darkred;
	font-size: 30px;
}
.contact .content p {
	font-weight: 400;
	color: darkred;
}
.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .contactInfo {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box {
	position: relative;
	padding: 20px 0;
	display: flex;
	justify-items: center;
	align-items: center;
}
.container .contactInfo .box .icon {
	min-width: 60px;
	height: 60px;
	background: rgb(3, 229, 245);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactInfo .box .text {
	display: flex;
	margin-left: 20px;
	font-size: 17px;
	color: rgb(14, 19, 12);
	flex-direction: column;
	font-weight: 700;
}
.container .contactInfo .box .text h3 {
	font-weight: 700;
	color: darkred;
}
.contactForm {
	width: 40%;
	padding: 40px;
	background: white;
}
.contactForm h2 {
	font-size: 30px;
	color: darkred;
	font-weight: 500;
}
.contactForm .inputBox {
	position: relative;
	width: 100%;
	margin-top: 10px;
	background-color: white;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #141212;
	outline: none;
	resize: none;
}
.contactForm .inputBox span {
	position: absolute;
	left: 0;
	transition: 0.4s;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
	color: none;
	font-size: 12px;
	top: −35;
	left: −10;
}
.contactForm .inputBox input[type='submit'] {
	width: 100px;
	color: darkred;
	background: lightgreen;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
	border-radius: 10px;
}
@media (max-width: 991px) {
	.contact {
		padding: 50px;
	}
	.container {
		flex-direction: column;
	}
	.container .contactInfo {
		margin-bottom: 40px;
	}
	.container .contactInfo {
		width: 100%;
	}
}
