@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*main css*/
.contact {
	position: relative;
	/* min-height: 100vh; */
	padding: 10px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgb(252, 252, 253);
	background-size: cover;
}
.contact .content {
	max-width: 800px;
	text-align: center;
}
.contact .content h2 {
	font-weight: 700;
	color: darkred;
	font-size: 30px;
}
.contact .content p {
	font-weight: 400;
	color: darkred;
}
.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .contactInfo {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box {
	position: relative;
	padding: 20px 0;
	display: flex;
	justify-items: center;
	align-items: center;
}
.container .contactInfo .box .icon {
	min-width: 60px;
	height: 60px;
	background: rgb(3, 229, 245);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactInfo .box .text {
	display: flex;
	margin-left: 20px;
	font-size: 17px;
	color: rgb(14, 19, 12);
	flex-direction: column;
	font-weight: 700;
}
.container .contactInfo .box .text h3 {
	font-weight: 700;
	color: darkred;
}
.contactForm {
	width: 40%;
	padding: 40px;
	background: white;
}
.contactForm h2 {
	font-size: 30px;
	color: darkred;
	font-weight: 500;
	text-align: center;
	margin-bottom: 28px;
}
.contactForm h2 u {
	font-family: 'Montserrat', sans-serif;
}
.contactForm .inputBox {
	position: relative;
	width: 100%;
	margin-top: 10px;
	background-color: white;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #141212;
	outline: none;
	resize: none;
}
.contactForm .inputBox span {
	position: absolute;
	left: 0;
	transition: 0.4s;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
	color: none;
	font-size: 12px;
	top: −35;
	left: −10;
}
.contactForm .inputBox input[type='submit'] {
	width: 100px;
	color: darkred;
	background: lightgreen;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
	border-radius: 10px;
}
@media (max-width: 991px) {
	.contact {
		padding: 50px;
	}
	.container {
		flex-direction: column;
	}
	.container .contactInfo {
		margin-bottom: 40px;
	}
	.container .contactInfo {
		width: 100%;
	}
}
