body {
	background-color: #d8d8f0;
	height: 100vh;
}
.form {
	position: relative;
	/* display: flex; */
	top: 11vh;
	width: 450px;
	height: 480px;
	margin: auto;
	margin-right: 0;
	margin-top: 20px;
	justify-content: center;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-field > label {
	color: #2c2c2c !important;
	font-family: 'Roboto', sans-serif !important;
	padding: 10px 0;
}
.row {
	padding: 0 10px !important;
	padding-top: 5px !important;
}
button {
	margin: auto !important;
	align-items: center;
}
.third__party__login {
	display: flex;
	margin: auto;
	margin-left: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.signup {
	display: flex;
	justify-content: start;
	margin-bottom: 100px;
}
.spacer {
	padding: 10px;
}
.button {
	display: flex;
	align-items: center;
}
.done {
	text-align: center;
	font-size: 19px;
	margin-top: 30px;
}
.adjust {
	margin: auto;
	align-items: center;
}
#para {
	position: absolute;
	top: -20px;
	left: 30%;
	font-family: 'Oswald', sans-serif;
	font-size: 27px;
	background-color: rgba(6, 170, 6, 0.856);
	padding: 5px;
	color: white;
	border-radius: 10px;
	width: 180px;
	align-items: center;
}
